.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chat-content{
  display: flex; 
  flex-direction: column;
  overflow: auto;
  max-height: 70vh;
}
#add-node{
  display: flex; 
  flex-direction: column;
  min-height: 50vh;
}
.right{
  align-self: flex-end;
}
.edit-item{
  max-width: 80%;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}